In [2]:
import pandas as pd

In [3]:
aracaju = pd.read_excel('datasets/Aracaju.xlsx')
fortaleza = pd.read_excel('datasets/Fortaleza.xlsx')
natal = pd.read_excel('datasets/Natal.xlsx')
recife = pd.read_excel('datasets/Recife.xlsx')
salvador = pd.read_excel('datasets/Salvador.xlsx')

In [4]:
df = pd.concat([aracaju, fortaleza, natal, recife, salvador])

In [5]:
# transformando a coluna de data para o tipo inteiro
df['Data'] = df['Data'].astype('int64')

/tmp/ipykernel_314/2519064536.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.
  df['Data'] = df['Data'].astype('int64')

In [6]:
df.dtypes

Cidade     object
Data        int64
Vendas    float64
LojaID      int64
Qtde        int64
dtype: object

In [7]:
# voltando a coluna data para tipo datetime
df['Data'] = pd.to_datetime(df['Data'])

In [8]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [9]:
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [10]:
df.groupby(df['Data'].dt.year)['Receita'].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [11]:
df['diferenca_dias'] =  df['Data'] - df['Data'].min()
df

       Cidade       Data  Vendas  LojaID  Qtde  Receita diferenca_dias
0     Aracaju 2018-01-01  142.00    1520     1   142.00         0 days
1     Aracaju 2018-01-01   14.21    1522     6    85.26         0 days
2     Aracaju 2018-01-01   71.55    1520     1    71.55         0 days
3     Aracaju 2018-01-01    3.01    1521     7    21.07         0 days
4     Aracaju 2018-01-01   24.51    1522     8   196.08         0 days
..        ...        ...     ...     ...   ...      ...            ...
235  Salvador 2019-01-03   41.84    1034     1    41.84       367 days
236  Salvador 2019-01-03  126.29    1035     3   378.87       367 days
237  Salvador 2019-01-03   38.06    1036     3   114.18       367 days
238  Salvador 2019-01-03  139.64    1035     1   139.64       367 days
239  Salvador 2019-01-03  161.41    1037     3   484.23       367 days

[894 rows x 7 columns]

In [12]:
df['trimestre_venda'] = df['Data'].dt.quarter
df

,Cidade,Data,Vendas,LojaID,Qtde,Receita,diferenca_dias,trimestre_venda
0,Aracaju,2018-01-01,142.00,1520,1,142.00,0 days,1
1,Aracaju,2018-01-01,14.21,1522,6,85.26,0 days,1
2,Aracaju,2018-01-01,71.55,1520,1,71.55,0 days,1
3,Aracaju,2018-01-01,3.01,1521,7,21.07,0 days,1
4,Aracaju,2018-01-01,24.51,1522,8,196.08,0 days,1
...,...,...,...,...,...,...,...,...
235,Salvador,2019-01-03,41.84,1034,1,41.84,367 days,1
236,Salvador,2019-01-03,126.29,1035,3,378.87,367 days,1
237,Salvador,2019-01-03,38.06,1036,3,114.18,367 days,1
238,Salvador,2019-01-03,139.64,1035,1,139.64,367 days,1
239,Salvador,2019-01-03,161.41,1037,3,484.23,367 days,1

In [14]:
vendas_marco_19 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 4)]
vendas_marco_19

,Cidade,Data,Vendas,LojaID,Qtde,Receita,diferenca_dias,trimestre_venda
43,Natal,2019-04-01,538.0,853,3,1614.0,455 days,2
49,Natal,2019-04-01,831.0,852,2,1662.0,455 days,2
65,Natal,2019-04-05,292.0,852,2,584.0,459 days,2
77,Natal,2019-04-01,426.0,853,3,1278.0,455 days,2
81,Natal,2019-04-02,564.0,854,2,1128.0,456 days,2